*{

    padding: 0;
    margin: 0;
    background-color:cornsilk;
    box-sizing: border-box;
}
.head{
color: brown;
text-align: center;
padding-bottom: 100px;
}
.flex{
    
    display: flex;
    flex-direction: column;
    padding : 100px;
    
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    background-color: white;
    color: black;
}

